div.circle {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(32, 155, 224, 0.48) 0%,
    rgba(36, 43, 51, 0) 100%
  );
  position: absolute;

  &.circle_1 {
    width: 1000px;
    height: 1000px;
    left: 39%;
    top: -22%;
  }

  &.circle_2 {
    width: 1460px;
    height: 1460px;
    left: -855px;
    top: 8px;
  }
  &.circle_3 {
    width: 968px;
    height: 968px;
    left: 828px;
    top: 1048px;
  }
  &.circle_4 {
    width: 1000px;
    height: 1000px;
    left: -35%;
    top: 64%;
  }
}
@media (max-width: 1024px) {
  div.circle {
    &.circle_1 {
      width: 500px;
      height: 500px;
      left: auto;
      top: 3%;
      right: 0;
    }
    &.circle_2 {
      width: 600px;
      height: 600px;
      left: -31%;
      top: 82%;
    }
    &.circle_3 {
      width: 600px;
      height: 600px;
      left: 25%;
      top: 1203px;
    }
    &.circle_4 {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  div.circle {
    display: none;
  }
}
